/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
    font-family: 'Comic Sans MS', cursive;
    background: #EEF7FF;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #4D869C;
    font-size: 1.5em;
    color: black;
}

input[type=submit]:hover {
    background: #7AB2B2;
}

/* Style the container for inputs */
.container {
    background-color: #EEF7FF;
    border-radius: 20px;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
.message {
    display:none;
    background: #EEF7FF;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

.message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

label {
    font-size: 1.5em;
}