/*
Palette
#4D869C
#7AB2B2
#CDE8E5
#EEF7FF
*/

.viewport-wrapper {
    width: 96vw;
    height: 96vh;
    margin: auto;
}

.aspect-wrapper {
    width: 98vw;
    height: 98vh;
    margin: auto;
    display: flex;
    background: #4D869C;
    border-radius: 20px;
}

.calendar-wrapper {
    width: 58vw;
    height: 96vh;
    margin: auto;
    background: #EEF7FF;
    border-radius: 15px;
    overflow: hidden;
}

.actionPanel-wrapper {
    width: 38vw;
    height: 96vh;
    margin: auto;
    background: #EEF7FF;
    border-radius: 15px;
    overflow: hidden;
}

embed {
    width: 100%;
    height: 100%;
}

form {
    clear: left;
}

th, td {
    width: auto;
    height: auto;
    margin: 0;
}

td {
    border: 1px solid #7AB2B2;
    text-align: center;
}

table {
    width: 100%;
    height: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #000;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content:center;
}

#currentMonth {
    width: 175px;
    text-align: center;
}

#currentYear {
    text-align: center;
}

.calendar-header-list:first-child {
    text-decoration: underline;
}

.left-arrow {
    rotate: 90deg;
}

.right-arrow {
    rotate: -90deg;
}