<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Monthly Calendar View</title>
</head>
<body>
    <div class="viewport-wrapper">
        <div id="monthHeader" class="calendar-header">

            <form action="calendarMonth_prevMonth" method="get">
                <button class="left-arrow" id="prevMonth">
                    <img alt="prev" src="assets/Pointer.svg">
                </button>
            </form>

            <div class="calendar-header-list">
                <h1 id="currentYear" th:text="${year}"></h1>
                <h1 id="currentMonth" th:text="${month}"></h1>
            </div>

            <form action="calendarMonth_nextMonth" method="get">
                <Button class="right-arrow" id="nextMonth">
                    <img alt="next" src="assets/Pointer.svg">
                </Button>
            </form>

        </div>
        <div class="table-wrapper">
            <table class="monthTable">
            <thead>
                <tr>
                    <th scope="col">Sunday</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                </tr>
            </thead>
            <tbody id = "monthTableBody">
            </tbody>
        </table>
        </div>
    </div>
</body>
<footer>

</footer>
</html>