<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchedulEx</title>
    <link rel="icon" type="image/x-icon" href="/assets/SchedulEx.svg">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="viewport-wrapper" th:object="${course}">
        <a href="/action-panel">  Back  <  </a>
        <h2 th:text="${course.toString()}"></h2>
        <form method="POST" action="submitExamRequest">
            <input type="number" th:value="*{getInstructorID()}" name="courseInstructorID" hidden="hidden">
            <input type="number" th:value="*{getCourseID()}" name="courseID" hidden="hidden">
            <label class="input-wrapper">
                <span>Enrollment:</span>
                <input type="number" name="enrollment" min="0" max="999" th:value="*{getEnrollment()}">
            </label>
            <label class="input-wrapper">
                <span>Duration:</span>
                <input class="duration-input" type="number" name="duration" th:value="*{getDuration()}">
                <span>Hours</span>
            </label>
            <div style="padding-left: 10px;">Time Slots:</div>
            <details>
                <summary class="date-wrapper">
                    <label>
                        Exam Date #1:
                        <input th:id="${course.toString()}+'-date0'" type="date" name="examDate-1" th:value="*{getExamDate(1)}">
                    </label>
                </summary>
                <label class="time-wrapper">
                    Start Time:
                    <input th:id="${course.toString()}+'-time0'" type="time" name="startTime-1" th:value="*{getStartTime(1)}">
                </label>
            </details>
            <details>
                <summary class="date-wrapper">
                    <label>
                        Exam Date #2:
                        <input th:id="${course.toString()}+'-date1'" type="date" name="examDate-2" th:value="*{getExamDate(2)}">
                    </label>
                </summary>
                <label class="time-wrapper">
                    Start Time:
                    <input th:id="${course.toString()}+'-time1'" type="time" name="startTime-2" th:value="*{getStartTime(2)}">
                </label>
            </details>
            <details>
                <summary class="date-wrapper">
                    <label>
                        Exam Date #3:
                        <input th:id="${course.toString()}+'-date2'" type="date" name="examDate-3" th:value="*{getExamDate(3)}">
                    </label>
                </summary>
                <label class="time-wrapper">
                    Start Time:
                    <input th:id="${course.toString()}+'-time1'" type="time" name="startTime-3" th:value="*{getStartTime(3)}">
                </label>
            </details>
            <button class="button-sumbit" type="submit">SUBMIT</button>
        </form>
        <form method="POST" th:action="'deleteCourse' + ${course.getCourseID()}">
            <button class="button-reject" type="submit">DELETE</button>
        </form>
    </div>
</body>