<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchedulEx</title>
    <link rel="icon" type="image/x-icon" href="/assets/SchedulEx.svg">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="viewport-wrapper">
        <h1 class="data-name" th:text="|${currentUser.getFirstName()} ${currentUser.getLastName()}|"></h1>
        <h2 class="data-rank">Professor</h2>
        <h3>Accounts</h3>
        <details>
            <summary class="list-element">Current</summary>
            <div class="list-element">
                <a class="list-element" th:text="${currentUser.getEmail()}"></a>
            </div>
            <div class="list-element">
                <a href="user/logout" class="list-element">Log Out  ></a>
            </div>
        </details>

        <h3>Courses</h3>
        <details th:attr="open=${isOpen}">
            <summary class="list-element">My Courses</summary>
            <div class="course" th:each="course : ${currentUser.GetCourses()}" th:object="${course}">
                <h3 th:text="${course.toString()}"></h3>
                <form method="GET" action="submitExamRequest">
                    <input type="number" th:value="*{GetInstructorID()}" name="courseInstructorID" hidden="hidden">
                    <input type="number" th:value="*{GetCourseID()}" name="courseID" hidden="hidden">
                    <label>
                        Enrollment:
                        <input type="number" name="enrollment" min="0" max="999" th:value="*{GetEnrollment}">
                    </label>
                    <br>
                    <label>
                        Exam Date:
                        <input type="date" name="examDate" th:value="*{GetExamDate()}">
                    </label>
                    <br>
                    <label>
                        Start Time:
                        <input type="time" name="startTime" th:value="*{GetStartTime()}">
                    </label>
                    <br>
                    <label>
                        Duration:
                        <input type="number" name="duration" th:value="*{GetDuration()}">
                    </label>
                    <br>
                    <button type="submit">Submit Request</button>
                </form>
            </div>

            <br>
            <form method="POST" action="newCourse">Add New Course
                <input type="text" placeholder="Department" name="department" required>
                <input type="number" placeholder="Course Number" name="number" required>
                <button type="submit">Submit</button>
            </form>
        </details>
    </div>
</body>
</html>