<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchedulEx</title>
    <link rel="icon" type="image/x-icon" href="/assets/SchedulEx.svg">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="form-wrapper">
        <a href="/action-panel">  Back  <  </a>
        <h1 class="data-name" th:text="${course.toString()}"></h1>
        <h2 class="data-rank" th:text="${instructor.toString()}"></h2>
        <h3>Requested Dates</h3>
        <form th:action="|/updateStatus/${course.getCourseName()}|" method="post">
            <input type="hidden" value="701" name="status">
            <span th:text="|${course.getExamDate(1)} at ${course.getStartTime(1)}|"></span>
            <button type="submit">ACCEPT</button>
            <br>
        </form>
        <form th:action="|/updateStatus/${course.getCourseName()}|" method="post">
            <input type="hidden" value="702" name="status">
            <span th:text="|${course.getExamDate(2)} at ${course.getStartTime(2)}|"></span>
            <button type="submit">ACCEPT</button>
            <br>
        </form>
        <form th:action="|/updateStatus/${course.getCourseName()}|" method="post">
            <input type="hidden" value="703" name="status">
            <span th:text="|${course.getExamDate(3)} at ${course.getStartTime(3)}|"></span>
            <button type="submit">ACCEPT</button>
            <br>
        </form>
        <h3>Input a Custom Date</h3>
        <form th:action="|/updateStatus/${course.getCourseName()}|" method="post">
            <input type="hidden" value="704" name="status">
            <details>
                <summary class="date-wrapper">
                    <label>
                        Custom Date
                        <input th:id="${course.toString()}+'-date0'" type="date" name="dateOverride">
                    </label>
                </summary>
                <label class="time-wrapper">
                    Start Time:
                    <input th:id="${course.toString()}+'-time0'" type="time" name="timeOverride">
                </label>
            </details>
        </form>
    </div>
</body>