<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchedulEx</title>
    <link rel="icon" type="image/x-icon" href="/assets/SchedulEx.svg">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="userSettings-wrapper">
        <a href="/action-panel">  Back  <  </a>
        <h1 class="data-name" th:text="${user.getEmail()}"></h1>
        <div class="form-wrapper" style="overflow: visible">
            <form method="post">
                <div class="form-element">
                    <input type="hidden" th:value="${user.getEmail()}" id="email" name="email">
                </div>
                <div class="form-element" style="margin-bottom: 10px;">
                    <h2>First Name</h2>
                    <input class="text-input" type="text" th:value="${user.getFirstName()}" id="firstname" name="firstname">
                    <h2>Surname</h2>
                    <input class="text-input" type="text" th:value="${user.getLastName()}" id="lastname" name="lastname">
                </div>
                <div class="form-element">
                    <h2 id="passchange" style="text-decoration: 2px black underline">Change Password</h2>
                    <h2 id="passlabel" hidden="hidden">Enter Password</h2>
                    <input class="text-input" type="hidden" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                           title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                    <h2 id="matchlabel" hidden="hidden">Retype Password</h2>
                    <input class="text-input" type="hidden" id="passmatch" name="passmatch" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                </div>
                <div id="message1" class="form-element message">
                    <p id="match" class="invalid">Passwords must match</p>
                    <h3>Password must contain the following:</h3>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
                <div class="form-element">
                    <label for="accesslevel">
                        <h2>Select Account Type</h2>
                    </label>
                    <select class="list-element" id="accesslevel" name="accesslevel">
                        <option value="admin" th:selected="${user.getAccessLevel()==601}">Admin</option>
                        <option value="professor" th:selected="${user.getAccessLevel()==602}">Professor</option>
                        <option value="invigilator" th:selected="${user.getAccessLevel()==603}">Invigilator</option>
                    </select>
                </div>
                <div class="form-element btn-group">
                    <button id="updateBtn" type="submit"
                            onclick="return confirm('Update Account?')" formaction="/user/update">Update</button>
                    <button id="deleteBtn" type="submit"
                            onclick="return confirm('Delete Account?')" formaction="/user/delete">Delete</button>
                </div>
            </form>
        </div>
    </div>
<script>
    let pwd = document.getElementById("password")
    let pwdmatch = document.getElementById("passmatch")
    let mlabel = document.getElementById("matchlabel")
    let plabel = document.getElementById("passlabel")
    let update = document.getElementById("updateBtn")
    let change = document.getElementById("passchange")
    let letter = document.getElementById("letter");
    let capital = document.getElementById("capital");
    let number = document.getElementById("number");
    let length = document.getElementById("length");
    let match = document.getElementById("match")

    change.onclick = function() {
        if(pwd.type === "password" && pwd.value === "" && pwdmatch.value === ""){
            plabel.hidden = "hidden"
            pwd.type = "hidden"
        }else{
            plabel.removeAttribute("hidden")
            pwd.type = "password"
        }
    }

    pwd.onfocus = function() {
        document.getElementById("message1").style.display = "block"
        mlabel.removeAttribute("hidden")
        pwdmatch.type = "password"
    }

    pwd.onblur = function() {
        if(pwd.value === "" && pwdmatch.value === ""){
            mlabel.hidden = "hidden"
            pwdmatch.type = "hidden"
            document.getElementById("message1").style.display = "none"
        }
    }

    pwd.onkeyup = function() {
        if(pwd.value !== pwdmatch.value){
            update.disabled = "disabled"
        }
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if(pwd.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if(pwd.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if(pwd.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if(pwd.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }

    pwdmatch.onfocus = function() {
        document.getElementById("message1").style.display = "block"
    }

    pwdmatch.onblur = function() {
        if(pwd.value === "" && pwdmatch.value === ""){
            document.getElementById("message1").style.display = "none"
        }
    }

    pwdmatch.onkeyup = function() {
        if(pwd.value !== pwdmatch.value){
            update.disabled = "disabled"
            match.classList.remove("valid")
            match.classList.add("invalid")
        }
        if(pwd.value === pwdmatch.value){
            update.removeAttribute("disabled")
            match.classList.remove("invalid");
            match.classList.add("valid");
        }
        if(pwdmatch.value === "" && pwd.value === ""){
            mlabel.hidden = "hidden"
            pwdmatch.type = "hidden"
        }
    }

</script>
</body>
</html>