<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchedulEx</title>
    <link rel="icon" type="image/x-icon" href="/assets/SchedulEx.svg">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="form-wrapper">
        <a href="/action-panel">  Back  <  </a>
        <h1 class="data-name" th:text="${course.toString()}"></h1>
        <form method="post" th:action="|/updateStatus/${course.getCourseName()}|">
            <span><p th:text="${course.getExamDate(1)}"></p></span>
        </form>
    </div>
</body>